#header{
  height: 190px;
}

#header_area{
  width: 1400px;
  height: 40px;
  position: relative;
  top: 150px;
  margin: 0 auto;
}
.logo{
  color: inherit;
  text-decoration: none;
}

.logo > img{
  height: 40px;
  
}

.logo > span{
  margin-left: 15px;
  font-size: 30px;
  height: 50px;
  position: relative;
  bottom: 10px;
}

h1{
  font-size: 3.5em;
}

p{
  font-size: 1.5em;
}

#footer{
  height: 200px;
  background-color: gainsboro;
}

#main{
  height: 100%;
  width: 1400px;
  margin: 0 auto;
}